.container {
  width: 80%;
  margin: auto;
  .add-product-btn {
    position: relative;
    top: 55px;
    left: 950px;
  }
  table {
      width: 100%;
    }
    
    .mat-mdc-form-field {
      font-size: 14px;
      width: 100%;
    }
}

