.container-category {
  width: 80%;
  margin: 15px auto;
  table {
    width: 100%;
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  .add-category-btn {
    position: relative;
    top: 10px;
    left: 950px;
    margin-bottom: 30px;
  }
}
